/* generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: netflixfont;
  src: url(BebasNeue.otf);
}

body {
  font-family: netflixfont;
  background-color: black;
  color: white;
}

/* wrapper */
  /* header */
  header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 15;
  }
    /* nov visible */
    #nav_visible {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      font-size: 26px;
    }

      #nav_visible_sx {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

        #nav_visible_sx > i {
          margin-right: 30px;
        }

        #container_menu_tendina {
          display: none;
        }

          #menu_tendina {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100vh;
            width: 25%;
            min-width: 200px;
            position: absolute;
            top: 0;
            left: 0;
            padding: 20px 10px;
            background-color: grey;
            font-size: 20px;
          }

          .fa-times {
            position: absolute;
            top: 10px;
            right: 10px;
          }

          .fa-times:hover {
            color: red;
          }

          #menu_tendina i:not(.fa-times) {
            font-size: 30px;
            margin-right: 20px;
          }

          #menu_tendina > hr {
            width: 100%;
            border-style: dotted;
          }

          #menu_tendina div {
            letter-spacing: 2px;
          }

          #menu_tendina div:hover {
            color: red;
          }

          #genere {
            list-style-type: none;
          }

          #genere li {
            letter-spacing: 5px;
          }

          #genere li:hover {
            color: red;
          }

        .logo_header img{
          color: red;
          width: 130px;
        }

      #nav_visible_dx {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

        #nav_visible_dx i:first-of-type {
          margin-right: 30px;
        }

    /* nav invisible */
    #container_nav_insivible {
      display: none;
      height: 100%;
    }

    #nav_invisible {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px 20px;
      font-size: 26px;
      height: 100%;
    }

    #hide_nav_invisible {
      flex-basis: calc(100% / 3);
      color: red;
    }

    #campo_ricerca {
      flex-basis: calc(100% / 3);
      display: flex;
      align-items: center;
    }

      #inserisci, #inserisci_min {
        height: 26px;
        width: 300px;
        margin-left: 15px;
      }

  /* nav bottom */
  #tool_under500 {
    display: none;
    height: 50px;
    font-size: 26px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
  }

  #logo_header_nav {
    text-align: center;
  }

  #logo_header_nav img {
    height: 55px;
    margin-top: 5px;
  }

  #contenitore_intestazione_invisibile {
    display: none;
    height: 100%;
    padding: 20px 10px;
  }

  #intestazione_invisibile {
    display: flex;
    align-items: center;
    height: 100%;
  }

  #hide_intestazione_invisible {
    flex-basis: calc(100% / 3);
    color: red;
  }

  #campo_ricerca_intestazione {
    flex-basis: calc(100% / 3);
    display: flex;
  }

  #bottom_nav_container{
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    z-index: 15;
    background-color: grey;
    color: white;
    font-size: 26px;
  }

  #bottom_nav{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  #bottom_nav div:hover {
    color: red;
  }

  /* main */
  main {
    margin-top: 60px;
    padding: 30px 20px;
    height: calc(100vh - 60px);
    overflow-y: auto;
  }

  main h2 {
    padding-left: 20px;
    margin-bottom: 30px;
    font-size: 40px;
  }

  .main::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
  }

  #lista_film, #lista_serietv {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }
  .film {
    margin: 0 15px 30px;
    width: 154px;
    height: 236px;
    position: relative;
    box-shadow: 0px 0px 2px 1px grey;
  }

  .anteprima {
    width: 154px;
    height: 236px;
    position: relative;
  }

  .film:hover .anteprima {
    opacity: 0.2;
  }

  .film:hover .descrizione {
    display: block;
  }

    .poster {
      width: 154px;
      height: 236px;
    }

    .anteprimaNon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 150px;
    }

  .descrizione {
    display: none;
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 0;
    margin: 5px;
    height: 226px;
    overflow: auto;
  }

  .descrizione::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
  }

    .descrizione li {
      line-height: 30px;
    }

    .titolo_css {
      color: red;
      font-size: 20px;
      text-align: center;
    }

    .flag {
      width: 19px;
      height: 13px;
    }

    .fa-star {
      color: yellow;
    }

  @media all and (max-width:500px) {

    header {
      display: none;
    }

    #bottom_nav_container, #tool_under500 {
      display: block;
    }

    main {
      margin-top: 70px;
      height: calc(100vh - 130px);
    }
  }
