/* generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: netflixfont;
  src: url(BebasNeue.otf);
}

body {
  font-family: netflixfont;
  background-color: black;
  color: white;
}



/* wrapper */
  /* header */
    /* nov visible */
    #nav_visible {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 10px 20px;
      font-size: 26px;
    }

      #nav_visible_sx {
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }

        #nav_visible_sx i {
          margin-right: 30px;
        }

        #logo_header img{
          color: red;
          width: 130px;
        }

      #nav_visible_dx {
        display: flex;
        justify-content: flex-end;
        align-items: center;
      }

        #show_nav_invisible {
          margin-right: 30px;
        }

    /* nav invisible */
    #nav_invisible {
      visibility: hidden;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      padding: 10px 20px;
      font-size: 26px;
    }

    #hide_nav_invisible {
      flex-basis: calc(100% / 3);
    }

    #campo_ricerca {
      flex-basis: calc(100% / 3);
      display: flex;
      align-items: center;
    }

      #inserisci {
        height: 26px;
        width: 300px;
        margin-left: 15px;
      }

  /* main */
  #lista_film {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 20px;

  }
  .film {
    margin-bottom: 30px;
    margin-right: 30px;
    width: 154px;
    height: 236px;
    overflow: auto;
  }

  .film::-webkit-scrollbar {
    width: 0px;
    background-color: transparent;
  }

  .anteprima {
    display: none;
    width: 154px;
    height: 236px;
    position: relative;
  }

    .poster {
      width: 154px;
      height: 236px;
    }

    .anteprimaNon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
    }

  .descrizione {
    display: none;
    list-style-type: none;
  }

    .descrizione li {
      line-height: 30px;
    }

    .flag {
      width: 19px;
      height: 13px;
    }

    .fa-star {
      color: yellow;
    }

  .active {
    display: block;
  }
